<style>
#red {color:red;}
.black {color:black;}
.black:hover {font-size:30px}
#red:hover {font-size:30px}
.websitetwo {background-color:red;color:black;}
.websitetwo:hover {font-size:40px;background-color:white;color:black}
.website {background-color:black;color:red;}
.website:hover {font-size:40px;background-color:white;color:black}
.outside {font-size:20px;}

.c {background-color:white;color:red;}
.h {background-color:white;color:red;}
.e {background-color:white;color:red;}
.y {background-color:white;color:red;}
.ee {background-color:white;color:red;}
.n {background-color:white;color:red;}
.nn {background-color:white;color:red;}
.eee {background-color:white;color:red;}

.c:hover {font-size:50px;background-color:black;color:teal;}
.h:hover {font-size:50px;background-color:black;color:pink;}
.e:hover {font-size:50px;background-color:black;color:blue;}
.y:hover {font-size:50px;background-color:black;color:;}
.ee:hover {font-size:50px;background-color:black;color:;}
.n:hover {font-size:50px;background-color:black;color:;}
.nn:hover {font-size:50px;background-color:black;color:;}
.eee:hover {font-size:50px;background-color:black;color:;}
</style>
 
